:root{
    --header-link:#FFF;
    --header-come:#26C6EA;
    --quote-list:#0A3853;
    --bottom--:#0B0E66;
    --quote-name:#000;
    --language-text:#141414;
}
/* 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Headland One', serif;
font-family: 'Inter', sans-serif; 
*/

.container{
    width: 1047px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo{
    width: 186px;
    height: 72px;
}

.footer-logo{
    width: 183px;
    height: 70px;
    display: flex;
}

.header-logo{

}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    width: 1440px;
}

.header-list{
    color: var(--header-link);
    font-size: 20px;
    font-weight: 300;
    font-family: 'Inter', sans-serif; 
    display: flex;
    text-align: center;
}

.header-item{
    
}

.header-img{
    
}

.header-switch{
    width: 36px;
    height: 20px;
}

.header-link{
    color: var(--header-link);
}

.header-come{
    font-family: 'Headland One', serif;
    text-decoration: none;
    color: var(--header-come);
}

.header-item-come{
    background: url(/img/pramokyt.webp);
}

.header-site-link{
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    color: var(--header-link);
}

.header{
    border-bottom: 3px solid #FFF;
    background: url(/img/fon-header.webp), rgba(43, 74, 97, 0.87);
    background-size: cover;
}

.hero{
    background: url(/img/avatar.webp), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    display: flex;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: var(--header-link);
    /* margin-bottom: 180px; */
}

.hero-spear{

}

.programs{
    
}

.quote{

}

.quote-list{
    font-family: 'Inter', sans-serif; 
    font-size: 36px;
    color: var(--quote-list);
    display: flex;
    text-align: center;
}

.quote-name{
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
    color: var(--quote-name);
    display: flex;
    justify-content: center;
}

.quote-ptax{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.painting{
    background: url(/img/avatarka.webp), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.language-text-item{
    color: var(--language-text);
    text-align: center;
    font-size: 32px;
}

.language-text{
    color: var(--language-text);
    text-align: center;
    font-size: 24px;
}

.language-navi{
    color: var(--quote-name);
    text-align: center;
    font-size: 24px;
}

.language-spear{
    width: 152px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.language-ptax{
    width: 152px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.language-lev-spear{
    width: 152px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.fon-painting{

}

.watch{
    width: 260px;
    height: 80px;
    font-family: 'Headland One', serif;
    color: var(--header-come);
    font-size: 24px;
    background-color: var(--quote-list);
    border-radius: 45px 0px;
    border: 3px solid var(--header-come);
    text-align: center;
}

.language{
    font-family: 'Headland One', serif;
    background: url(/img/fon.webp), lightgray 50%;
    background-size: cover; 
    background-repeat: no-repeat;
}

.footer{
    background: url(/img/fon-footer.webp), lightgray 50%;
    background-size: cover; 
    background-repeat: no-repeat;
}

.footer-list{
    font-family: 'Inter', sans-serif; 
}

.footer-link{
    color: var(--header-link);
    text-align: justify;
    font-size: 20px;
}

.footer-link-text{
    color: var(--header-link);
    text-align: justify;
    font-size: 14px;
}

.square{
    width: 320px;
    background: rgba(255, 255, 255, 0.70);
    display: flex;
    flex-wrap: wrap;
}

.language-item{
    
}

.language-list{

}

.footer-div{
    display: flex;
}