:root{
    --header-link:#FFF;
    --header-come:#26C6EA;
    --quote-list:#0A3853;
    --bottom--:#0B0E66;
    --quote-name:#000;
    --language-text:#141414;
}
/* 
font-family: 'Hammersmith One', sans-serif;
font-family: 'Headland One', serif;
font-family: 'Inter', sans-serif; 
*/

.container{
    width: 1047px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo{
    width: 186px;
    height: 72px;
}

.footer-logo{
    width: 183px;
    height: 70px;
    display: flex;
}

.header-logo{

}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{

}
.painting-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list{
    color: var(--header-link);
    font-size: 20px;
    font-weight: 300;
    font-family: 'Inter', sans-serif; 
    display: flex;
    text-align: center;
    margin-bottom: 63px;
    margin-top: 63px;
}

.header-item{
    
}

.header-img{
    
}

.header-switch{
    width: 36px;
    height: 20px;
}

.header-link{
    color: var(--header-link);
}

.header-link:hover{
    color: var(--header-come);
}

.header-come{
    font-family: 'Headland One', serif;
    text-decoration: none;
    color: var(--header-come);
}

.header-item-come{
    background-image: url(../img/pramokyt.webp);
    background-size: 141px;
}

/* .header-site-link{
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    color: var(--header-link);
} */

.header{
    border-bottom: 3px solid #FFF;
    background: url(../img/fon-header.webp), rgba(43, 74, 97, 0.87);
    background-size: cover;
}

.hero{
    background: url(../img/avatar.webp), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 179px;
}

.hero-text{
    display: flex;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: var(--header-link);

}

.hero-spear{

}

.programs{
    display: flex;
    justify-content: left;
}

.quote{

}

.quote-list{
    font-family: 'Inter', sans-serif; 
    font-size: 36px;
    color: var(--quote-list);
    display: flex;
    text-align: center;
    padding-top: 75px;
}

.quote-name{
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
    color: var(--quote-name);
    display: flex;
    justify-content: center;
}

.quote-ptax{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.language-text-item{
    color: var(--language-text);
    text-align: center;
    font-size: 32px;
    padding-top: 58px;
    padding-bottom: 45px;
}

.language-text{
    color: var(--language-text);
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.language-navi{
    color: var(--quote-name);
    text-align: center;
    font-size: 24px;
}

.language-spear{
    width: 152px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.fon-painting{

}

.join{
    font-family: 'Headland One', serif;
    color: var(--header-come);
    font-size: 24px;
    background-color: var(--bottom--);
    border-radius: 45px 0px;
    border: 3px solid var(--header-come);
    text-align: center;
}

.watch{
    width: 260px;
    height: 80px;
    font-family: 'Headland One', serif;
    color: var(--header-come);
    font-size: 24px;
    background-color: var(--bottom--);
    border-radius: 45px 0px;
    border: 3px solid var(--header-come);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painting{
    background: url(../img/avatarka.webp), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 331px;
}

.language{
    font-family: 'Headland One', serif;
    background: url(../img/fon.webp), lightgray 50%;
    background-size: cover; 
    background-repeat: no-repeat;
}

.footer{
    background: url(../img/fon-footer.webp), lightgray 50%;
    background-size: cover; 
    background-repeat: no-repeat;
}

.footer-list{
    font-family: 'Inter', sans-serif; 
}

.footer-link{
    color: var(--header-link);
    text-align: justify;
    font-size: 20px;
}

.footer-link-text{
    color: var(--header-link);
    text-align: justify;
    font-size: 14px;
}

.square{

}

.language-item{
    width: 320px;
    background: rgba(255, 255, 255, 0.70);
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 36px 10px;
}

.language-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-div{
    display: flex;
}